.ui__modal-panel {
  background: transparent !important;
  border-radius: 10px;
}

.block-control,
.block-control:hover {
  min-height: unset;
}

html:not(.is-native-android) {
  font-family: var(--ls-font-family), sans-serif, system-ui,
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
  Arial, 'Noto Sans', serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol !important;
}
