.white-theme,
html[data-theme=light] {
	--ls-primary-background-color: var(--cl-white);
    --ls-secondary-background-color: var(--cl-whitesmoke);
    --ls-tertiary-background-color: transparent;
    --ls-quaternary-background-color: var(--cl-seashell);
    --ls-table-tr-even-background-color: transparent;
    --ls-active-primary-color: var(--cl-yaleblue);
    --ls-active-secondary-color: var(--cl-yaleblue);
    --ls-block-properties-background-color: var(--cl-whitesmoke);
    --ls-page-properties-background-color: var(--cl-whitesmoke);
    --ls-block-ref-link-text-color: var(--cl-yaleblue);
    --ls-search-background-color: var(--cl-white);
    --ls-border-color: var(--cl-athensgray);
    --ls-secondary-border-color: #e2e2e2;
    --ls-guideline-color: var(--cl-whitesmoke);
    --ls-menu-hover-color: var(--cl-magnesium);
    --ls-primary-text-color: var(--cl-black);
    --ls-secondary-text-color: var(--cl-magnesium);
    --ls-title-text-color: var(--cl-black);
    --ls-link-text-color: var(--cl-yaleblue);
    --ls-link-text-hover-color: var(--cl-yaleblue);
    --ls-link-ref-text-color: var(--cl-yaleblue);
    --ls-link-ref-text-hover-color: var(--cl-yaleblue);
    --ls-tag-text-color: var(--cl-gray);
    --ls-tag-text-hover-color: var(--cl-gray);
    --ls-slide-background-color: var(--cl-white);
    --ls-block-bullet-border-color: var(--cl-gray);
    --ls-block-bullet-color: var(--cl-black);
    --ls-block-highlight-color: var(--cl-zircon);
    --ls-selection-background-color: var(--cl-athens);
    --ls-page-checkbox-color: transparent;
    --ls-page-checkbox-border-color: var(--cl-darkgray);
    --ls-page-blockquote-color: var(--cl-black);
    --ls-page-blockquote-bg-color: var(--cl-whitesmoke);
    --ls-page-blockquote-border-color: transparent;
    --ls-page-inline-code-bg-color: var(--cl-whitesmoke);
    --ls-page-inline-code-color: var(--cl-black);
    --ls-scrollbar-foreground-color: transparent;
    --ls-scrollbar-background-color: transparent;
    --ls-scrollbar-thumb-hover-color: var(--cl-concord);
    --ls-head-text-color: var(--cl-yaleblue);
    --ls-cloze-text-color: #0000cd;
    --ls-icon-color: var(--cl-charcoal);
    --ls-search-icon-color: var(--cl-charcoal);
    --ls-a-chosen-bg: var(--cl-whitesmoke);
    --ls-right-sidebar-code-bg-color: var(--cl-whitesmoke);
    --color-level-1: var(--cl-whitesmoke);
    --color-level-2: var(--cl-athensgray);
    --color-level-3: var(--cl-magnesium);
    --color-level-4: var(--cl-whitesmoke);
    --color-level-5: var(--cl-athensgray);
    --color-level-6: var(--cl-magnesium);
}


.dark-theme,
html[data-theme=dark] {
    --ls-primary-background-color: var(--cl-fadedblack);
    --ls-secondary-background-color: var(--cl-darkjungle);
    --ls-tertiary-background-color: transparent;
    --ls-quaternary-background-color: var(--cl-fadedblack);
    --ls-table-tr-even-background-color: transparent;
    --ls-active-primary-color: var(--cl-columbia);
    --ls-active-secondary-color: var(--cl-columbia);
    --ls-block-properties-background-color: var(--cl-bokara);
    --ls-page-properties-background-color: var(--cl-bokara);
    --ls-block-ref-link-text-color: var(--cl-columbia);
    --ls-search-background-color: var(--cl-darkjungle);
    --ls-border-color: var(--cl-codgray);
    --ls-secondary-border-color: var(--cl-bokara);
    --ls-guideline-color: var(--cl-bunker);
    --ls-menu-hover-color: var(--cl-monsoon);
    --ls-primary-text-color: var(--cl-wildsand);
    --ls-secondary-text-color: var(--cl-brightgray);
    --ls-title-text-color: var(--cl-wildsand);
    --ls-link-text-color: var(--cl-columbia);
    --ls-link-text-hover-color: var(--cl-columbia);
    --ls-link-ref-text-color: var(--cl-columbia);
    --ls-link-ref-text-hover-color: var(--cl-columbia);
    --ls-tag-text-color: var(--cl-stack);
    --ls-tag-text-hover-color: var(--cl-stack);
    --ls-slide-background-color: var(--cl-fadedblack);
    --ls-block-bullet-border-color: var(--cl-stack);
    --ls-block-bullet-color: var(--cl-wildsand);
    --ls-block-highlight-color: var(--cl-oxford);
    --ls-selection-background-color: var(--cl-brightgray);
    --ls-page-checkbox-color: transparent;
    --ls-page-checkbox-border-color: var(--cl-monsoon);
    --ls-page-blockquote-color: var(--cl-wildsand);
    --ls-page-blockquote-bg-color: var(--cl-bokara);
    --ls-page-blockquote-border-color: transparent;
    --ls-page-inline-code-color: var(--cl-wildsand);
    --ls-page-inline-code-bg-color: var(--cl-bokara);
    --ls-scrollbar-foreground-color: var(--cl-shadylady);
    --ls-scrollbar-background-color: transparent;
    --ls-scrollbar-thumb-hover-color: var(--cl-shadylady);
    --ls-head-text-color: var(--cl-columbia);
    --ls-cloze-text-color: #8fbc8f;
    --ls-icon-color: var(--cl-stack);
    --ls-search-icon-color: var(--cl-stack);
    --ls-a-chosen-bg: var(--cl-monsoon);
    --ls-right-sidebar-code-bg-color: var(--cl-bokara);
    --color-level-1: var(--cl-darkjungle);
    --color-level-2: var(--cl-bokara);
    --color-level-3: var(--cl-codgray);
    --color-level-4: var(--cl-darkjungle);
    --color-level-5: var(--cl-bokara);
    --color-level-6: var(--cl-codgray);
}