/* Remove tailwind formattings */
.text-sm {
  font-size: 1em;
}

/* ------- */
/*  Menus  */
/* ------- */

/* Add padding around menus */
.dropdown-wrapper,
#custom-context-menu {
  padding: 4px;
}

.dropdown-wrapper .py-2,
#custom-context-menu .py-2,
#left-sidebar .py-2 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

/* Left Sidebar */
.left-sidebar-inner #repo-name {
  padding-top: 1px;
  padding-bottom: 1px;
}

blockquote {
  margin-top: -28px !important;
}

blockquote:before {
  content: ">";
  margin-left: -16px;
  top: 20px;
  position: relative;
}

*:is(#main-content-container, #right-sidebar, .tippy-tooltip, .ls-card).page-reference[data-ref="card"].tag,
*:is(#main-content-container, #right-sidebar, .tippy-tooltip, .ls-card)
  a[data-ref="card"].tag {
  display: none;
}

.cm-s-solarized .CodeMirror-linenumber,
.CodeMirror-gutter-background,
.cm-s-solarized .CodeMirror-gutters {
  display: none;
}

.CodeMirror-sizer {
  margin-left: 5px !important;
}

.ui__modal-panel {
  background: transparent !important;
  border-radius: 5px;
}

.text-sm {
  font-size: 1rem;
}

.white-theme .form-checkbox:checked,
html[data-theme="light"] .form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}
